.header__left > img {
  object-fit: contain;
  width: 150px;
}
.header__right > img {
  object-fit: contain;
  width: 23px;
  padding-left: 5px;
}
.header {
  height: 70px;
  background-color: #111;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 10px;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__left > h4 {
  font-weight: 800;
  padding-left: 20px;
  color: rgb(198, 137, 255);
}
.header__right {
  display: flex;
  border: 1px solid lightgray;
  width: 300px;
  background-color: white;
  border-radius: 20px;
  margin-right: 40px;
}
.header__right > input {
  border: none;
  outline: none;
  width: 250px;
  padding: 7px;
}
