.people {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  border: 1px solid orange;
  padding: 30px;
  margin: 20px;
  background-color: white;
  border-radius: 40px;
}
.people > img {
  object-fit: contain;
  width: 100px;
}
.people > p {
  font-weight: 600;
  color: gray;
}
